.storeList {
    text-align: center;
}

.storeList input[type=radio] {
    display: none;
}

.storeList .box {
    text-align: left;
    font-size: 20px;
    color: white;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 21px solid transparent;
    max-width: 90%;
    -webkit-border-image: url(../img/text_field_slice.png) 21 fill;
    -o-border-image: url(../img/text_field_slice.png) 21 fill;
    border-image: url(../img/text_field_slice.png) 21 fill;
}

.storeList .box p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.storeList .box:hover {
    transform: scale(1.05);
}