.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.styled-table thead tr {
    background-color: #dddddd;
    color: #000000;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

    /*.styled-table tbody tr {
        border-bottom: 1px solid rgb(245, 245, 245);
    }*/

        /*.styled-table tbody tr:nth-of-type(even) {
            background-color: rgb(245, 245, 245);*/
            /*background-color: #f3f3f3;*/
        /*}*/       

        /*.styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
*/

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 650px;
    border: solid;
    border-color: rgb(225, 225, 225);
    border-width: 2px;
    /*border-collapse: collapse;
    width: 1000px;*/
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ededed;
    background-color: rgb(245, 245, 245);
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ededed;
    background-color: rgb(255, 255, 255);
}

.rp-first-column {
    font-weight: bold;
}

.rp-content-main {
    width: 650px;
}

.rp-table-div {
    width: 100%;
}

.rp-img-div {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: left;
    margin-left: 0px;
}

.rp-store-name-div {
    position: relative;
    width: 550px;
    height: 30px;
    text-align: left;
    margin-top: -25px;
    margin-left: 32px;
}

.rp-online-div {
    position: relative;
    height: 30px;
    text-align: right;
    margin-top: -30px;
    margin-left: 25px;
    float: right;
}

.rp-table-m-div {
    position: relative;
    margin-top: -30px;
}

.rp-online-text {
    font-weight: bold;
    color: rgb(43, 182, 115);
    font-size: 12px;
}

.rp-offline-text {
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.rp-store-name {
    font-weight: bold;
}
